<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :msg, label: false, placeholder: 'Plaats hier je bericht', as: :text %>
  </div>

  <div class="actions">
    <%= f.button :submit, 'Plaats!' %>
  </div>
<% end %>