<div id="primary" class="site-content">
  <div id="content" role="main">
    <article id="post-5" class="post-5 page type-page status-publish hentry">
      <header class="entry-header">
        <h1 class="entry-title">Laatste berichten</h1>
      </header>
    </article>
  	<h1>Calendar</h1>


  	<%= raw(event_calendar) %>

  	<h1>Nieuwe training/wedstrijd toevoegen</h1>

  	<%= render 'events/form' %>
  </div>
</div>