<div id="contact">
  <div class="row map">
    <div class="container">
        <div class="span5 box_wrapp">
            <div class="box_cont">
                <div class="head">
                    <h6>Contactgegevens: </h6>
                </div>
                <ul class="street">
                    <ul class="street">
                    <li>Parkstad</li>
                    <l1>Sportpark de Eendracht</li>
                    <li>Adres: Bok de Korverweg 16</li>
                    <li>Postcode: 1067 HR Amsterdam</li>
                    <li>020-6114400</li>
                </ul>
            </div>
        </div>
    </div>
     <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.nl/maps?ie=UTF8&amp;q=S.V.+Parkstad&amp;fb=1&amp;gl=nl&amp;hq=parkstad&amp;hnear=0x47c63fb5949a7755:0x6600fd4cb7c0af8d,Amsterdam&amp;cid=0,0,1047287636828630532&amp;t=m&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.nl/maps?ie=UTF8&amp;q=S.V.+Parkstad&amp;fb=1&amp;gl=nl&amp;hq=parkstad&amp;hnear=0x47c63fb5949a7755:0x6600fd4cb7c0af8d,Amsterdam&amp;cid=0,0,1047287636828630532&amp;t=m&amp;z=16&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">Grotere kaart weergeven</a></small>
  </div>
</div>
